html {
    background-color: rgb(211, 211, 211); 
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100px; 
    color: rgba(34, 34, 33, 0.158); /*Nothing applied here because fo cascading (see 'h1' color below */
    background-color: #b2ad7f;
    padding: 20px;
    /*border: 5px dashed red;*/
    position: fixed; /*means when we scroll, it will stay put!*/
    margin: 0px; /*gives the distance between this element and others*/
    /*margin will give a default value unless specified as margin=0 */
}


h1 {
    margin: auto;
    width: 150px;
    height: 20px;
    text-align: center;
    font-size: 25px; 
    color: rgb(31, 31, 30); /*cascading means that the final generation of styling will overwrite parent formatting - as with the colour magenta above */
    padding: 10px 20px 10px 20px; /*the second value of 20px changes the left and right padding, while 10px defines top and bottom padding*/
    /*the order for padding is: TOP-RIGHT-BOTTOM-LEFT when 3 or more values given*/
    border: 3px solid rgba(31, 31, 30, 0.507);
    border-radius: 5px;
    border-style:  double solid dotted dashed;
}

nav li {
    margin: auto;
    background-color: #6b5b95;
    display: inline-block; /*inline-block will allow us to control the width of inline elements
    i.e. like this: 
    display: inline-block;
    width: 50px; */
    padding: 10px 40px 10px 40px;
    margin: 10px 20px 10px 20px;
}

a { 
    text-decoration: none; /*remove the underline */
    color: rgb(209, 209, 205);
    vertical-align: middle; 
}

main {
    margin-top: 100px;/*set to header height to display items under fixed panel*/
}

.triptext {
    /*this styling will be added to all child elements called 'name_of_element_within_class' within the 'triptext' class element. */
    display: flex;
    width: 100%; 
    height: 100%;
    justify-content: center;
    flex-flow: row wrap; /*makes things move as you change page width to make it fit
    alternatively, flex-wrap: wrap; */
    align-items: center;
    box-sizing: borderbox; /*changes the 'width' to apply to the border (not just content inside border)*/
}



footer {
    border: 5px solid red;

}

.some-class element-within-class {
    position: relative; /*good for moving text relative to pictures*/
    bottom: sizeoftext px; /*bumps the text up - so if you want it on top of an image*/
}